extends layout_admin.pug
block scripts
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    style
        include ../public/style/users.css
        include ../public/style/form_add_update.css
    script
        include ../public/scripts/users.js
        include ../public/scripts/jquery-3.2.1.min.js
    
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
    script(src="http://malsup.github.com/jquery.form.js")

block content
    div(class="block__line")
            button(class="btn btn-light btn-image block__line-print") Распечатать пароли
            button(class="btn btn-light btn-image block__line-download") Загрузить группу
            button(class="btn btn-light btn-image block__line-add") Добавить
            button(class="btn btn-light btn-image block__line-update") Изменить
            button(class="btn btn-light btn-image block__line-del") Удалить
            button(class="btn btn-light btn-image block__line-up" id="pass") Сбросить пароль
    div(class="block__line__left")
            button(class="btn btn-light btn-image block__line-check") Выделить все
            button(class="btn btn-light btn-image block__line-clear") Снять выделение      
 
    table(class="table")
            thead
                tr
                    th №
                    th Фамилия
                    th Имя
                    th Отчество
                    th Дата рождения
                    th Username
                    th(class="filter r ") 
                        div Статус             
                    th(class="filter g") 
                        div Группа
                    th Год поступления
                    th Направление
            tbody(class="table_body")
                -resultQuery=data; 
                -for(var i=0;i<resultQuery.length;i++){
                tr(class="info")
                    th=resultQuery[i].id
                    th=resultQuery[i].surname
                    th=resultQuery[i].name
                    th=resultQuery[i].lastname
                    th=resultQuery[i].birthday
                    th(class=resultQuery[i].password)=resultQuery[i].username 
                    th(class="role")=resultQuery[i].role
                    th=resultQuery[i].groupname
                    th=resultQuery[i].year
                    th=resultQuery[i].direction
                -}         

    div(class="block__input")
      div(class="block__add")
            p Пользователь
            div(class="form-group")
                label Фамилия:
                input(type="text" class="form-control " id="field-surname" placeholder="Введите фамилию" )
            div(class="form-group")
                label Имя:
                input(type="text" class="form-control" id="field-name" placeholder="Введите имя" )
            div(class="form-group")
                label Отчество:
                input(type="text" class="form-control" id="field-fathername" placeholder="Введите отчество")   
            div(class="form-group")
                label(for="inputDate") Введите дату рождения:
                input(type="date" class="form-control" id="field-birthday")
            div(class="form-group ")
                label Статус:
                div(class="item_stut")
                    input(type="radio"  id="teacher" name="status") 
                    label(for="teacher") 
                        span(class="span") Преподаватель
                div(class="item_stut")
                    input(type="radio"  id="admin" name="status" ) 
                    label(for="admin") 
                        span(class="span") Аминистратор
                div(class="item_stut")
                    input(type="radio" id="student" name="status" )   
                    label(for="student") 
                        span(class="span") Студент
                div(class="form-group")
                label(for="group1") Группа:
                select(class="form-control" id="group1" disabled)   
            div(class="block__add__form__button")    
                button(class="btn btn-primary" class="button-add") Добавить
                button(class="btn btn-primary" class="button__cancel-add") Отмена

      div(class="block__update")
            p Пользователь
            div(class="form-group")
                label Фамилия:
                input(type="text" class="form-control " id="field__current-surname" placeholder="Введите фамилию" )
            div(class="form-group")
                label Имя:
                input(type="text" class="form-control" id="field__current-name" placeholder="Введите имя" )
            div(class="form-group")
                label Отчество:
                input(type="text" class="form-control" id="field__current-fathername" placeholder="Введите отчество")    
            div(class="form-group")
                label(for="inputDate") Введите дату рождения:
                input(type="date" class="form-control" id="field__current-birthday")
            div(class="form-group ")
                label Статус:
                div(class="item_stut")
                    input(type="radio"  id="teacher1" name="status1") 
                    label(for="teacher1") 
                        span(class="span") Преподаватель
                div(class="item_stut")
                    input(type="radio"  id="admin1" name="status1" ) 
                    label(for="admin1") 
                        span(class="span") Аминистратор
                div(class="item_stut")
                    input(type="radio" id="student1" name="status1" )   
                    label(for="student1") 
                        span(class="span") Студент
            div(class="form-group")
                label(for="group2") Группа:
                select(class="form-control" id="group2" disabled)      
            div(class="block__add__form__button")    
                button(class="btn btn-primary button__save" ) Сохранить
                button(class="btn btn-primary button__cancel-save" ) Отмена   

      div(class="block__download")
        p Загрузка группы 
        form(id="upload-container" method="POST" action="/load/group" enctype="multipart/form-data" )
            div(class="col btn-sm")
                input(type="file" id="file" class="form-control-file" accept="*/xml" name='file')
                label(for="file" class="btn file-group btn-tertiary js-labelFile")
                    i( class="material-icons") cloud_upload
                    span(class="js-fileName") Загрузить файл
                div 
                    div(id="namefile")
            div(class="form-group")
                label(for="group3") Группа:
                select(class="form-control" id="group3"  )     
            div(class="block__add__form__button")    
                button(class="btn btn-primary button__download" type="submit" value="dw") Загрузить 
                button(class="btn btn-primary button__cancel-download" value="can") Отмена 
      div(id="block__filter")            